<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
</head>
<body>
  <ul class="allwindows">
    <% @windows.each do |window| %>
    <li>
      <%= image_tag window.image %>
    </li>
    <% end %>
  </ul>
</body>
</html>
